body {
    height: 100vh;
}

.coluna {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100%;
}

.linha {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: gainsboro;
}

#jogoClass {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    transform: rotate(180deg);

}

#jogo {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

<<<<<<< HEAD .player1 {
    position: absolute;

    =======.player1 {
        >>>>>>>4d8d061a016fbdf46aa0781a508b6bc92484b674 background-color: blue;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 2px;
    }

    <<<<<<< HEAD .player2 {
        position: absolute;

        =======.player2 {
            >>>>>>>4d8d061a016fbdf46aa0781a508b6bc92484b674 background-color: red;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 2px;

        }