body {
    height: 100vh;
    background: rgb(244, 173, 48);
    background: linear-gradient(90deg, rgba(244, 173, 48, 1) 0%, rgba(198, 235, 67, 1) 43%, rgba(166, 222, 199, 1) 100%);
}

@font-face {
    font-family: 'Scooby Doo';
    src: url(../fonts/scoobydoo/scoobydoo.ttf)
}

header {
    font-family: 'Scooby Doo';
}

.coluna {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100%;
}

.linha {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: gainsboro;
}

#jogoClass {
    margin-top: 180px;
    display: flex;
    flex-direction: row;

}

#jogo {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player1 {
    background: no-repeat center;
    background-size: 45px;
    background-image: url(../assets/img/salsichascare.png);
    width: 45px;
    height: 45px;
    border-radius: 20%;
    border: 2px;
    margin: 2.5px;
    animation: salsichadeslizando 1s;
    pointer-events: none;
}

.player2 {
    background: no-repeat center;
    background-size: 40px;
    background-image: url(../assets/img/scoobyscare.png);
    width: 45px;
    height: 45px;
    border-radius: 20%;
    border: 2px;
    animation: scoobydeslizando 1s;
    pointer-events: none;
}

#janela-modal {
    visibility: inherit;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #eea734;
}

#modal-resposta {
    z-index: 1;
    width: 300px;
    height: 300px;
    margin-top: 130px;
    background: rgba(245, 166, 35, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img-grupo {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-bottom: 200px;
}

#informacao {
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(193, 16, 16, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
}

#iniciar-jogo {
    background-color: #eeab40;
    border-radius: 10px;
    font-size: 16px;
    border-style: revert;

}

#player1 img {
    width: 50px;
    height: 50px;
    top: 50px;

}

#player2 img {
    width: 50px;
    height: 50px;
    margin: 2.5px;
}

footer {

    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha {
    background-color: orange;
}

#jogoClass {
    background: rgba(245, 166, 35, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
}

#imgjogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgjogo img {
    position: absolute;
    width: 340px;
    height: 320px;
    margin-bottom: 200px;
}

#modal-vitoria-scooby {
    transition-delay: 0.5s;
    visibility: hidden;
    background-color: #b9f579;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

#modal-mensagem {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 300px;
    height: 200px;
    border: 2px solid black;
    border-radius: 30px;
}

#modal-vitoria-scooby img {
    width: 160px;
    margin-right: 38px;
}

#mensagem {
    text-align: center;
}

#jogarnovamente {
    background-color: #b9f579;
    border-radius: 30px;
}

#modal-vitoria-salsicha {
    transition-delay: 0.5s;
    visibility: hidden;
    background-color: #b9f579;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#modal-vitoria-salsicha img {
    width: 150px
}

#modal-empate {
    transition-delay: 0.5s;
    visibility: hidden;
    background-color: #b9f579;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#modal-mensagem-empate {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 300px;
    height: 200px;
    border: 2px solid black;
    border-radius: 30px;
}

#modal-empate img {
    width: 300px;
    height: 300px;
}

@keyframes salsichadeslizando {

    from {
        transform: translateY(-150px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes scoobydeslizando {
    from {
        transform: translateY(-150px);
    }

    to {
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
    #modal-vitoria-salsicha {
        flex-direction: row;
    }

    #modal-vitoria-scooby {
        flex-direction: row;
    }

    #modal-empate {
        flex-direction: row;
    }
}